*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Maname", serif;
    font-weight: 400;
    font-style: normal;
}

body{
    overflow: visible;
}
.hero{
    background-image: url("../img/fondo.png");
    background-size: cover;
    height: 100vb;
    align-items:flex-end;
    justify-content:flex-end;
    background-position-x: center;
    color: #ffffff;
}

.altura{
    margin-bottom: 150px;
}

.fondo{
    background-image: url("../img/fondo.jpg");
    background-size: cover;
    height: 100vh;
    background-position: center;
    display: flex;
}

.card-position{
    padding: 40px;
}

.card-text{
    font-size: 14px;
}

.formulario{
    display: flex;
    flex-direction: column;
    height: 2rem;
    border: 0;
    border-radius: 5px;
    padding: 5px;
    font-size: 14px;
    color: #ffffff;
}

.texto-etiqueta{
    color: black;
}

.posi-formulario{
    padding: 20px 60px ;
}

.imagen-formulario{
    height: 250px;
    display: flex;
    flex-direction: column;
}

.radio{
    color: #ffffff;
    padding: 4px;
}

.button{
    margin: 10px;
    border: none;
    padding: 5px;
    border-radius: 5px;
}

video{
    width: 100%;
}

footer {
    background-color: #202020;
    color: #ffffff;
    padding: 10px;
    position: absolute;
    width: 100%;
    margin-bottom: 0;
    
}

.navegacion__footer{
    display: flex;
    gap: 100px;
}

li{
    margin-top: 10px;
    list-style: none;
}

a{
    color: #ffffff;
    text-decoration: none;
}

.copy{
    margin-left: 20px;
}
