*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Maname", serif;
    font-weight: 400;
    font-style: normal;
}

body{
    overflow: visible;
}
.hero{
    background-image: url("../img/fondo.png");
    background-size: cover;
    height: 100vh;
    align-items:flex-end;
    justify-content:flex-end;
    background-position-x: center;
    color: #ffffff;
}

.altura{
    margin-bottom: 150px;
}

.fondo{
    background-image: url("../img/fondo.jpg");
    background-size: cover;
    height: 100vh;
    background-position: center;
    
}

.tarjeta{
    flex: 50%;
    margin: 0 20px;
    border: 1px solid #ffffff;
    display: flex;
    flex-direction: column;
    
}

.contenido{
    color: #ffffff;
    flex-grow: 1;
    flex-shrink: 1;
}

.tarjeta .pie_tarjeta{
    background-color: rgb(224, 29, 224);
    padding: 10px;
    align-content:center;
}

.formulario{
    display: block;
    height: 2rem;
    margin-left: 40px;
    border: 0;
    border-radius: 5px;
    padding: 5px;
    color: #ffffff;
}

.radio{
    margin-left: 40px;
    color: #ffffff;
}

.button{
    margin: 10px;
    margin-left: 40px;
    display: block;
    border: none;
    padding: 5px;
    border-radius: 5px;
}

footer {
    background-color: #202020;
    color: #ffffff;
    padding: 10px;
    position: absolute;
    width: 100%;
    margin-bottom: 0;
    
}

.navegacion__footer{
    display: flex;
    gap: 100px;
}

li{
    margin-top: 10px;
    list-style: none;
}

a{
    color: #ffffff;
    text-decoration: none;
}

.copy{
    margin-left: 20px;
}
